<section class="about section">
	<div class="row container">
	    <h2 class="header">{{ page.title }}</h2>
	    <ul class="collapsible popout">
	    {% for paragraph in page.header.paragraphs %}
		    <li>
		      <h5 class="collapsible-header active">{{ paragraph.header }}</h5>
		      <div class="collapsible-body">
		      	{{ paragraph.content | markdown }}
		      </div>
		    </li>
		{% endfor %}
		</ul>
	</div>
</section>