<div id="lang">
	<ul id="picker" class="parts z-depth-2">
		<li data-value="en">English</li>
		<li data-value="fr">Français</li>
	</ul>
	<div class="toggle parts  z-depth-2">
		<span class="current">English</span><i class="material-icons right">expand_less</i>
	</div>
</div> 