<div id="lang">
	<ul id="picker" class="langswitcher parts z-depth-2">
	{% set langobj = grav['language'] %}
	
	{% for key in langswitcher.languages %}
	
	    {% if key == langswitcher.current %}
	        {% set lang_url = page.url %}
	        {% set active_class = ' active' %}
	    {% else %}
	        {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
	        {% set active_class = '' %}
	    {% endif %}
	
	    <li><a href="{{ lang_url ~ uri.params }}" class="external{{ active_class }}">{{  native_name(key)|capitalize }}</a></li>
	
	{% endfor %}
	</ul>
<div class="toggle parts  z-depth-2">
		<span class="current">{{ native_name(langswitcher.current)|capitalize }}</span><i class="material-icons right">expand_less</i>
	</div>
</div>