{% extends 'partials/base.html.twig' %}

{% block content %}

    {% if maintenance.allow_login and not grav.user.authenticated %}
    
    	
    	<div class="modular-row showcase flush-top" style="background-image: url(/images/6/f/0/a/a/6f0aaba87d15f8e7f7d09699af1d2d0463bfed79-old-class.jpeg);">
    		
    		<section style="width:100%;">{{ 'PLUGIN_MAINTENANCE.OFFLINE_MARKDOWN'|t|markdown }}</section>
		</div>

        <div class="modular-row callout">
                <img style="" class="align-right" src="/images/6/3/0/5/f/6305f237456e66d2402733fe88cf217a148883c3-paris-goma.jpeg" />
				<h2>About</h2>
				<p><strong>Creature</strong> is a dynamic, student-driven learning community that arms changemakers with the means necessary to realize artistic and cultural platforms consistent with their vision for a better future.</p>
		</div>
		
		 <div class="modular-row">
			 <p>Feel free to contact us at anytime via telephone. email or even dropping by the supplied address.</p>
			<p>Telephone: +33(0)664 944 453</p>
			<p>Email: contact@creature.paris</p>
			<p>CREATURE
			152, rue de Rennes
			75006 PARIS - FRANCE</p>
		</div>
    	
        <div id="maintenance-login" style="text-align: center;">
            {% include 'partials/login-form.html.twig' with {content: 'PLUGIN_MAINTENANCE.AUTHORIZED_ACCESS'|t|markdown }%}
        </div>
    {% endif %}
{% endblock %}