// Modular Showcase styling
.modular {

    // special case for header
    &.header-image {

        #header {
            background-color: rgba(255,255,255,0);
            box-shadow: none;

            #logo h3 {
                color: $header-text;
            }
            #navbar a {
                color: $header-text;
            }
        }
    }

    .showcase {
		height: 100vh;
		min-height: 460px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: #666;
        background-size: cover;
        background-position: center;
        display: flex;
		align-items: center;
		justify-content: flex-start;

        text-align: center;
        color: $header-text;
		
        .button {
            @extend .default-animation;
            color: $header-text;
            padding: 0.7rem 2rem;
            margin-top: 2rem;
            background: rgba(255,255,255,0);
            border: 1px solid $header-text;
            border-radius: $border-radius;
            box-shadow: none;
            font-size: $core-font-size + 0.3rem;

            &:hover {
                background: rgba(255,255,255,0.2);
            }
        }
        
        .quotesAnimation {
            font-size: 3rem;
            margin-top: 0;
            @include breakpoint(tablet-range) {
                font-size: 2.5rem;
            }
            @include breakpoint(mobile-only) {
                font-size: 2rem;
                line-height: 1.2;
                margin-bottom: 2.5rem;
            }
        }
		
		.quotes-wrapper {
			display: inline-block;
			position: relative;
			text-align: left;
			min-height: 8em;
		
			.no-js & strong {
				opacity: 0;
				
				&.is-visible {
					opacity: 1;
				}
		
			}
		}
		
		.quotesAnimation.type {
			
			.quotes-wrapper {
				vertical-align: top;
				overflow: hidden;
		
				&.selected {
					background-color: black;
		
					&::after {
						visibility: hidden;
					}
				}
				i {font-style: normal;}
			}
		
			strong {
				visibility: hidden;
		
				&.is-visible {
					visibility: visible;
				}
			}
		
			i {
				position: absolute;
				visibility: hidden;
		
				&.in {
					position: relative;
					visibility: visible;
				}
			}
		}
    }

}
